@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(3),
.square:nth-child(4),
.square:nth-child(5),
.square:nth-child(6) {
    border-bottom: 7px solid white;
}

.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(4),
.square:nth-child(5),
.square:nth-child(7),
.square:nth-child(8) {
    border-right: 7px solid white;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    font-family: "Press Start 2P";
    cursor: pointer;
    color: white;
    transition: background-color 0.2s;
}

.square.winner {
    background-color: rgba(255, 255, 255, 0.2);
}