@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.scoreRecap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    font-size: 2.3rem;
    padding-top: 20px;
    font-family: "Press Start 2P";
}

.scoreRecap .score {
    margin: 0 100px;
    font-weight: bold;
}