*.lightActive {
    animation: light-popup-shadow 0.3s;
    animation-fill-mode: forwards;
}

@keyframes light-popup-shadow {
    from {
        box-shadow: none;
    }

    to {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transform: translateY(-2px)
    }
}

*.darkActive {
    animation: dark-popup-shadow 0.3s;
    animation-fill-mode: forwards;
}

@keyframes dark-popup-shadow {
    from {
        box-shadow: none;
    }

    to {
        box-shadow: 0px 5px 15px whitesmoke;
        transform: translateY(-2px)
    }
}