.homepage {
    padding: 5%;
    width: 100vw;
    color: rgba(243, 183, 242, 0.8);
    font-family: "Source Code Pro";
    text-align: center;
    overflow-y: visible;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url("https://media1.tenor.com/m/f-KMXPuqT8IAAAAd/vaporwave-sunset.gif"),
        rgba(0, 0, 0, 0.8);
    background-blend-mode: color;
    background-size: 100% 100%;
}

.title {
    margin-bottom: 5%;
    font-size: 4rem;
    font-family: "Sixtyfour";
}

.name {
    color: rebeccapurple;
}

.projectsList {
    margin: 2% auto;
    width: 30%;
}

@media only screen and (max-height: 600px) and (min-width: 850px) {
    .homepage {
        height: 100vh;
        display: flex;
        align-items: center;
    }
    
    .projectsSection {
        padding: 2%;
    }
    
    .projectsSection .description {
        margin-bottom: 5%;
    }
    
    .projectsSection .projectsList {
        width: 80%;
    }
    
    .projectsSection li {
        margin: 5% 0;
    }
}

@media only screen and (max-width: 850px) {
    .homepage {
        width: 100vw;
        color: rgb(243, 183, 242);
        font-family: "Source Code Pro";
        text-align: center;
    }

    .background {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: url("https://media1.tenor.com/m/46qIKFxz0_MAAAAd/8bit-city-city-gif.gif"),
        rgba(0, 0, 0, 0.7);
        background-blend-mode: color;
        background-size: 100% 100%;
    }
    
    .title {
        font-size: 1.5rem;
        margin: 10% 0;
    }
    
    .name {
        font-size: 2rem;
        padding: 5% 0;
        display: inline-block;
    }
    
    .description {
        width: 70%;
        margin: 0 auto;
    }
    
    .projectsList {
        margin: 5% auto;
        width: 70%
    }
}
